.App {
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* Ensure header takes up at least a whole page */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-content {
  margin-left: 20px;
  width: 100%; /* Ensure it takes the full width */
  height: 100%; /* Ensure it takes the full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  margin-top: 20px;
}

.contact-info a {
  color: #61dafb;
  margin: 0 10px;
  text-decoration: none;
}

.contact-info p {
  margin: 5px 0;
}

.App-link {
  color: #61dafb;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.section:hover {
  transform: scale(1.05);
}

.section-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
